@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/container-queries';
@plugin '@tailwindcss/aspect-ratio';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans:
    'Noto Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }

  html {
    @apply bg-slate-800 text-slate-200 subpixel-antialiased;
  }
}

/* cyrillic-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/assets/fonts/Noto_Sans/o-0ZIpQlx3QUlC5A4PNr4C5OaxRsfNNlKbCePevttHOmHSl1igg0eP4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/assets/fonts/Noto_Sans/o-0ZIpQlx3QUlC5A4PNr4C5OaxRsfNNlKbCePevtvXOmHSl1igg0eP4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/assets/fonts/Noto_Sans/o-0ZIpQlx3QUlC5A4PNr4C5OaxRsfNNlKbCePevtt3OmHSl1igg0eP4.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/assets/fonts/Noto_Sans/o-0ZIpQlx3QUlC5A4PNr4C5OaxRsfNNlKbCePevtuXOmHSl1igg0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/assets/fonts/Noto_Sans/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5aPdu3mnPyxVihg0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/assets/fonts/Noto_Sans/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5ardu3mnPyxVihg0.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/assets/fonts/Noto_Sans/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5aDdu3mnPyxVihg0.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/assets/fonts/Noto_Sans/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7du3mnPyxVig.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@layer components {
  button {
      @apply bg-gray-900 text-gray-100 px-4 py-1.5 rounded-sm border border-gray-800 mx-2 my-1 transition-colors hover:bg-gray-800;
  }
  button.primary {
      @apply bg-blue-700 text-gray-100 border-blue-600 hover:bg-blue-600;
  }
  button.danger {
      @apply text-red-600 border-red-600 hover:bg-red-600 hover:text-red-50;
  }


  input {
      @apply text-gray-900;
  }
  input:not([type="radio"]):not([type="checkbox"]) {
      @apply rounded-sm;
  }
  input[type="radio"], input[type="checkbox"] {
    @apply bg-blue-900 border-blue-700 checked:bg-blue-700 checked:border-blue-600;
  }
  label {
      @apply block;
  }



  svg.lucide-sun {
    @apply stroke-yellow-400
  }
  svg.lucide-sun circle {
    @apply fill-yellow-400
  }

  svg.lucide-cloud-sun {
    @apply stroke-yellow-400
  }
  svg.lucide-cloud-sun path:nth-child(5) {
    @apply fill-yellow-400
  }
  svg.lucide-cloud-sun path:last-child {
    @apply fill-white stroke-white
  }

  svg.lucide-cloudy {
    @apply stroke-white
  }
  svg.lucide-cloudy path:first-child {
    @apply fill-white
  }
  svg.lucide-cloudy path:last-child {
    @apply stroke-slate-400 translate-x-[3px] translate-y-[-3px] rotate-12
  }

  svg.lucide-cloud-fog {
    @apply stroke-slate-400
  }
  svg.lucide-cloud-fog path:not(:first-child) {
    @apply stroke-blue-200
  }

  svg.lucide-cloud-drizzle {
    @apply stroke-slate-400
  }
  svg.lucide-cloud-drizzle path:not(:first-child) {
    @apply stroke-blue-400
  }
  svg.lucide-cloud-rain, svg.lucide-cloud-rain {
    @apply stroke-slate-400
  }
  svg.lucide-cloud-rain path:not(:first-child), svg.lucide-cloud-rain path:not(:first-child) {
    @apply stroke-blue-500
  }

  svg.lucide-cloud-snow {
    @apply stroke-slate-400
  }
  svg.lucide-cloud-snow path:not(:first-child) {
    @apply stroke-white
  }

  svg.lucide-cloud-lightning {
    @apply stroke-slate-400
  }
  svg.lucide-cloud-lightning path:last-child {
    @apply stroke-yellow-400
  }

  svg.lucide-sunrise {
    @apply stroke-white
  }
  svg.lucide-sunrise path:nth-child(2),
  svg.lucide-sunrise path:nth-child(3),
  svg.lucide-sunrise path:nth-child(4),
  svg.lucide-sunrise path:nth-child(5),
  svg.lucide-sunrise path:nth-child(8)
  {
    @apply stroke-yellow-400
  }
  svg.lucide-sunrise path:nth-child(8) {
    @apply fill-yellow-400
  }

  svg.lucide-sunset {
    @apply stroke-white
  }
  svg.lucide-sunset path:nth-child(2),
  svg.lucide-sunset path:nth-child(3),
  svg.lucide-sunset path:nth-child(4),
  svg.lucide-sunset path:nth-child(5),
  svg.lucide-sunset path:nth-child(8)
  {
    @apply stroke-yellow-400
  }
  svg.lucide-sunset path:nth-child(8) {
    @apply fill-yellow-400
  }
}